In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

In [4]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine('postgresql://postgres:clemsux1@localhost:5432/hawaii_db')

In [6]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [7]:
Base.classes.keys()

['measurement', 'station']

In [8]:
Measurements = Base.classes.measurement
Station = Base.classes.station

In [9]:
session = Session(engine)

In [10]:
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)

results = session.query(Measurements.date, Measurements.prcp).all()

df = pd.DataFrame(results, columns=['date', 'precipitation'])

df.set_index(df['date'], inplace=True)

df = df.sort_index()

df.drop(columns=['date'], inplace=True)

#df.plot(rot=90)

df.head()

         precipitation
date
1/1/2010          0.21
1/1/2010          0.28
1/1/2010          0.15
1/1/2010          0.05
1/1/2010          0.15

In [11]:
df.describe()

       precipitation
count          19103
unique           343
top                0
freq            8848

In [12]:
session.query(func.count(Station.station)).all()

[(9)]

In [13]:
session.query(Measurements.station, func.count(Measurements.station)).\
group_by(Measurements.station).order_by(func.count(Measurements.station).\
                                       desc()).all()

[('USC00519397', 3724),
 ('USC00519281', 2772),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [14]:
lowest = func.min(Measurements.tobs)

highest = func.max(Measurements.tobs)

average = func.avg(Measurements.tobs)

session.query(lowest, highest).all()

[('53', '87')]

In [19]:
results = session.query(Measurements.tobs).filter(Measurements.station == 'USC00519281').all()

df = pd.DataFrame(results, columns=['tobs'])

df.head()

  tobs
0   70
1   62
2   74
3   75
4   74